/*This is the styling of the entire page*/
body{
	/* This makes the background colour of the entire page white*/
	background-color: white;
}
/*This is the styling of the paragraphs*/

p{
	/*This sets the colour of the text to grey*/
	color: grey;
}
/*This is the styling of heading 1*/

h1{
	color: black;
	/* This aligns the text to the middle of the page*/
	text-align: center;
	/* This sets the size of the text to 50px.*/
	font-size: 50px;
	/*This gives the title an underline*/
	text-decoration: underline;
}
/*This is the styling of the heading 2*/

h2{
	color: darkgrey;
	font-size: 35px;
	/* This makes the text italic*/
	font-style: italic;
}
/*This is the styling of the divs*/

div {
	/*This makes the display a block so that the width etc. can be edited while allowing multiple blocks to be on the same line*/
  display: inline-block;
  background: lightblue;
	/* This will set the gap between the text and the edge of the block to 20px*/
  margin: 20px;
	/*This sets the gaps between the blocks to 20px*/
  padding: 20px;
	/* This sets the width of each block to 80% of the screen width*/
	width: 90%;
}